* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to right top, #0d2e64, #0d326e, #0d3677, #0c3b81, #0c3f8b);
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000613;
    padding: 40px 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.titulo-login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 22px;
}

.titulo-login h1 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.formulario-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.formulario-login-label {
    color: #fff;
    width: 100%;
}

.formulario-login-input {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 20px;
    outline: none;
}

.btn-login {
    background-color: #00ac0b;
    color: #fff;
    padding: 10px 80px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
}